/* Override some Bootstrap styles */
html {
    font-family: 'Playfair Display', serif;
}

.logoheader {
    width: 50px;
}

.text-primary {
    color: #2b99e3 !important;
}

.card-img-top {
    height: 300px;
    object-fit: cover;
}

footer .btn {
    padding: 5px;
    border-radius: 50%;
}


.section {
    padding: 60px 0;
}

.card {
    margin-bottom: 20px;
}
